# macOS system files
.DS_Store
._.DS_Store

# Unwanted hidden files
._* 

# Samba-related files
.smbdelete*

# Ignore everything in models folder
models/*

# But not __init__.py
!models/__init__.py

# Python cache
__pycache__/
*.pyc
*.pyomodels/
tranquilizer.egg-info/
tranquillyzer.egg-info/